* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.btn {
    color: white;
    font-size: 15px;
    letter-spacing: 5px;
    background-color: dodgerblue;
    width: 230px;
    height: 70px;
    border-radius: 10px;
    margin: 250px auto;
    cursor: pointer;
    border: 1px solid dodgerblue;
    transition: 1s;
}

.btn:hover {
    background-color: green;
    border-radius: 50px;
    border: 1px solid green;
}